*{
	margin:0;
	padding: 0;
}
.div1{
	width: 100%;
	height: 50px;
	background: #666666;
	display: inline-block;
}

.pa1{
	float: left;
	color: #5bad0a;
}
.content{
	display: none;
}
#div2{
	width: 60%;
	height: 250px;
	background: gray;
	padding:20px;
	margin: 2% auto;
	border-radius: 10px;
}
body{
	background: auto;
	overflow-x: hidden;
}
h2{
	padding-left: 30%;
	padding-top: 5%;
	font-size: 30px;
}